# Dependencies
node_modules/
src/app/constants/apiConstants.js


# Ignore API constants (contains base URL / secrets)
src/app/constants/apiConstants.js

# Build output
dist/
build/
.next/
out/


# Webpack hot-update files
*.hot-update.js
*.hot-update.json

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Local env files
.env
.env.local
.env.development.local
.env.production.local
.env.test.local

# Editor folders
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Optional caches
.cache/
.parcel-cache/
.eslintcache

# TinyMCE library files (should be installed via package manager)
public/assets/libs/tinymce/
