# Dependencies
**/node_modules/
**/venv/
**/env/
**/.venv/


# Django settings
Backend-20250224T100201Z-001/Backend/sTest/settings.py

# Ignore API constants
src/app/constants/apiConstants.js

# Python cache
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd

# Build outputs
.next/
dist/
build/
out/

# Environment files
.env
.env.local
.env.*.local

# IDEs and OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
